
      .centermain {
          	background: url('../images/bg.png') repeat-x #ffffff 0 0;
          	padding: 0 !important;
          	height:300px;
			}
			
			.main {
          width: 100% !important;
      }
			
   
      #nfouterdiv br {
        display: block;
      }

  		#nfouterdiv {
        width:900px;
  			position:relative;
  			margin:auto;
  			padding: 0 0 15px;
  		}
  		
  		#nfouterdiv a,.nfFoot a, .nfbody a {
      
        color: #5685A3 !important;
        
      
      }
      
      	#nfouterdiv a:hover,.nfFoot a:hover {
      
        text-decoration:underline;
      
      }
  
      .menu {
        	float:left;
    			height:68px;
    			width: 400px;
    			background: url('../images/tabbg.png') no-repeat 100% -67px;
        }
        
       .menu ul {
        	margin:0px;
        	padding:0px;
        	list-style:none;
        	text-align:center;
        	float:right;
        }
        
        .menu li {
        	line-height:60px;
        	background:none;
        	margin:0px 0px 0px;
        	padding:0px ;
        	cursor:pointer; 
        	float:left;
        	height:68px;
        	width:125px;
        }
		
		
        
        .menu li#tablink1.tabactive, .menu li#tablink1:hover {
        	background: url('../images/tabbg.png') no-repeat 0 0px;
        }
        
        .menu li#tablink2.tabactive, .menu li#tablink2:hover {
        	background: url('../images/tabbg.png') no-repeat -125px 0px;
        }
        
        .menu li#tablink3.tabactive, .menu li#tablink3:hover {
        	background: url('../images/tabbg.png') no-repeat -250px 0px;
        }
        
        .tabtxt {
			padding: 0 0 0 20px;
			width:125px;
        	height:60px;
        	text-indent: -9999px;
        	display:block;
        	float:left;
		}
        
        
       .njtab{
        	
        	width: auto;
        	text-align:left;
        	padding:0px 5px 6px 5px;
        	font-size:12px;
        	margin-bottom:5px;
            clear:right;
        }
        
        .njtab .inner {
        	overflow-y:auto;
			overflow-x:hidden;
			width:100%;
        
        }
        
        #nfouterdiv h2, #nfouterdiv h1
        {
          font-weight:bold;
          text-align:center;
        }
        
        #nfouterdiv h1
        {
          	color:#ffffff;
			margin:4px 0px 15px;
        }
		
     
    .njtab dt strong,
    .njtab h3 strong
        {
          font-weight: bold !important;
        }
        
		.njtab dt
        {
          font-weight:bold !important;
		  padding:5px 0pt 2px;
        }
      
	.buttons { 
        	border:none; 
        	padding: 3px;
        }
	.nfbody {
      padding:70px 0 0;
  }
  
  /* adjust the joomla admin table headers */
  table.table.adminlist th {
  
  }
  
  .nfFooter {
      background: #597497 url('../images/botbg.png') repeat-x scroll 0% 0%;      
      text-align:center;
      position:relative;
      padding: 15px 0;
      width:100%;
      float:left;
      clear:both;
      margin-top:20px;
  }
  
  .nfFoot{
      background:transparent url(../images/foot.png) no-repeat scroll 0%;
      height:25px;
      margin:0px auto;
      padding-top:10px;
      position:relative;
      width:450px;
  }
  
  
  #logo {
    background: url('../images/logo.png') no-repeat 0% 0%;
    height: 51px;
    width: 231px;
    float:left;
    display:block;
    left:0px;
	  position:absolute;
	  top:10px;
  }
  
  a:active
  {
    outline: none;
  }
  #dashretbut {
    background: url('../images/dashbut.png') no-repeat 0% 0%;
    padding: 0 0 0 20px;
		width:125px;
    height:67px;
    text-indent: -9999px;
    display:block;
    float:right;
    margin:2px 0 0 0;
  }

  #dashretbut:hover {
    background-position: 0% -71px;
  }
  
  a.infoPgButA {
  	display:block;
  	height:75px;
  	width:100px;
  	border:1px solid #5685A3 ;
  	border-right-color: #3E516A;  	
  	border-bottom-color: #3E516A;
  	float:left;
  	margin: 5px;
  }
  
  a.infoPgButA:hover {
  	border-left-color: #3E516A;  	
  	border-top-color: #3E516A;  	
  	border-right-color: #5685A3;  	
  	border-bottom-color: #5685A3;
  	background:#9AB6E5 ;    	
  	text-decoration:none !important;
  }
  
  .infoPgBut {
  }

  img.infoPgButImg{
	width:48px;
	height:48px;
	margin:5px auto; 
	display: block;
	border: none; 
  }
  
  span.infoPgButSpan{
  	text-align:center;
  	color:#000;
  	display:block;
  	text-decoration:none  !important;
  }
  
  a.infoPgButA:hover span.infoPgButSpan{
  	color:#fff;
  	text-decoration:none  !important;
  }
  
  div#buttonpanel{
  	width:49%;
  	float:right;
  }
  
  div#infopanel{
  	width:49%;
  	float:left;
  }
  
  table.adminform,
  table.adminheading {
  	float:left;
  }
  
  /* the new css */
  
  #content-box {
  	background: url(../images/bg.png) repeat-x;
  }
  
  div.icon-48-ninjahdr { 
  	background: url(../images/logo.png) no-repeat left;
  	text-indent: 230px; 
  	width:600px;
  	line-height:51px !important;
  	color:#333333 !important;
  }
  
 .t, .b {display:none}
  
  div.m {border:none !important;}
  
  div#toolbar-box, div#submenu-box, div#element-box {
  	background:none !important; 
  	margin-left: 10px;
  	margin-right: 10px;
  }
  
  div#toolbar-box {
  }
  
  div.padding {padding: 10px 0 0 !important}
  
  div#submenu-box #submenu li {font-size:16px;}
  
  div#submenu-box {
	margin-bottom:15px;
  }
  
  div#submenu-box #submenu li a,
  div#submenu-box #submenu li a:visited{
  	color:#000;
  	border-left:1px solid #7A95BC;
	border-right:1px solid #2B3849;
  }
  
  div#submenu-box #submenu li a.active,
  div#submenu-box #submenu li a:hover {
  	color:#fff;
  }
  
  div#submenu-box ul#submenu {
    border-left:1px solid #2B3849;
	overflow:auto;
  }
  
  
  dl#system-message dd.message {
  	margin: 20px 20px 0;
  }
  
  .nfbody h3, h1 {
  	color:#597497 !important;
  }
  
  logoimg {
    padding: 5px 20px;
  }
  
span.alert{color:#c00;border-top:3px solid #fe7b7a;border-bottom:3px solid #fe7b7a;background:#FFD6D6 url(../images/notice_alert.png) 10px 50% no-repeat}
span.alert{display:block;margin:15px 0;padding:10px 10px 10px 50px}

fieldset.adminform {
margin:40px 10px 10px !important;
}

/* CSS for the secondary sub menus  */

#submenu2 {
	list-style: none;
	padding: 0;
	margin: 0;
}

#submenu2 li {
	float: left;
	padding: 0;
	margin: 0;
}

#submenu2 li a,
#submenu2 span.nolink {
	cursor: pointer;
	padding: 0px 15px;
	border-right: 1px solid #ccc;
	font-weight: bold;
	color: #0B55C4;
	line-height: 12px;
	height: 12px;
}

#submenu2 span.nolink {
	color: #999;
}

#submenu2 a.active,
#submenu2 span.nolink.active {
	color: #000;
	text-decoration: underline;
}

/** rounded corners **/
#submenu-box2 {
background:#F6F6F6 none repeat scroll 0 0;
margin:10px 0;
}


div#submenu-box2  .t,
div#submenu-box2 .b{display:block}

div#submenu-box2 div.t, div#submenu-box2 div.b {
  height: 6px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

div#submenu-box2 div.m {
  border-left: 1px solid #ccc !important;
  border-right: 1px solid #ccc !important;
  padding: 0 8px !important;
}


div#submenu-box2 div.t {
  background: url(../images/j_border.png) 0 0 repeat-x;
}

div#submenu-box2 div.t div.t {
   background: url(../images/j_crn_tr_dark.png) 100% 0 no-repeat;
}

div#submenu-box2 div.t div.t div.t {
   background: url(../images/j_crn_tl_dark.png) 0 0 no-repeat;
}

div#submenu-box2 div.b {
  background: url(../images/j_border.png) 0 100% repeat-x;
}

div#submenu-box2 div.b div.b {
   background: url(../images/j_crn_br_dark.png) 100% 0 no-repeat;
}

div#submenu-box2 div.b div.b div.b {
   background: url(../images/j_crn_bl_dark.png) 0 0 no-repeat;
}

